body {
    background-color: whitesmoke;
}
/* page header */
.page-header-out {
    box-sizing: border-box;
    border-bottom: 1px solid gray;
}

.page-header-in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
}

#page-header-logo {
    height: auto;
    width: 50px;
}

.header-list {
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    text-size-adjust: 100%;
}

.header-links {
    margin-left: 20px;
    /* padding: 20px; */
}

.header-button {
    height: auto;
    width: 40px;
    border: none;
    background: none;
    visibility: hidden;
}

/* page-container */
.page-container {
    margin: 10px;
    border: 5px;
    padding: 0 15%;
}

h1, h2, h4, p, ul, ol, a{
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;

}
img {
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* pseudo-class */

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
}

.header-links:hover {
    border-bottom: 1px solid gray;
}

/* For small display */

@media (max-width: 699px) {
    .page-header-in{
        padding: 0 5%;
    }
    .header-links {
        visibility: hidden;
    }
    .header-button {
        margin-right: 20px;
        order: 1;
        visibility: visible;
    }
    .page-container {
        padding: 0 5%;
    }
}